<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="ru.rvi.gasstation">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="GasStationV1"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".SecondActivity"
            android:parentActivityName= ".activityMain.MainActivity"
            android:label="Details"/>
        <activity android:name=".loginActivity.ProfileActivity" />
        <activity android:name=".noteActivity.NoteMainActivity" />
        <activity android:name=".helpActivity.HelpActivity" />
        <activity android:name=".helpActivity.AccidentActivity" />
        <activity android:name=".helpActivity.TowTrucksActivity" />
        <activity android:name=".noteActivity.AddActivity" />
        <activity android:name=".noteActivity.UpdateActivity" />
        <activity android:name=".calculatorActivity.CalculatorActivity" />
        <activity android:name=".loginActivity.RegisterActivity" />
        <activity android:name=".activityMain.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>